* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Images/background.jpg);
    background-size: cover;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_left>h1 {
    color: white;
    font-size: 50px;
}

.nav_right {
    display: flex;
    gap: 20px;
}

.nav_right>a {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.nav_right>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #09c3f2;
    transition: 0.8s ease;
}

.nav_right>a:hover {
    color: #09c3f2;
}

.nav_right>a:hover::after {
    width: 100%;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    height: 500px;
    width: 400px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 0 20px 20px rgba(46, 46, 46, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

form>label {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.3px;
}

form>input {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #09c3f2;
    width: 300px;
    margin-bottom: 10px;

}

form>textarea {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #09c3f2;
    width: 300px;
    height: 100px;

}


form>button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #09c3f2;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #0498bc;
    color: black;
    cursor: pointer;
}

a>:hover {
    color: white;
}

@media (max-width: 600px) {

    nav {
        height: auto;
        padding: 10px 15px;
        gap: 6px;
    }

    .nav_left img {
        width: 40px;
        height: 40px;
    }

    .nav_left>h1 {
        font-size: 20px;
    }

    .nav_right {
        gap: 14px;
    }

    .nav_right>a {
        font-size: 10px;
    }

    main>div {
        width: 80%;

    }

}